:root {
  --bg-color: #0d1117;
  --text-color: #c9d1d9;
  --subtext-color: #8b949e;
  --alert-color: #f85149;
  --highlight-color: transparent;
  --link-bg: linear-gradient(135deg, #0088cc, #00aaff);
  --link-hover: linear-gradient(135deg, #00aaff, #66ccff);
}

* {
  -webkit-tap-highlight-color: var(--highlight-color);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

.image-container {
  position: relative;
}

img {
  width: 100%;
  border-radius: 8px;
  display: inline;
}

/* Degradado inferior */
.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
  border-radius: 0 0 8px 8px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 15px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
  margin: 15px 0;
}

.btn {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

/* Estilos para el loading */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.loading-overlay.active {
  opacity: 1;
  visibility: visible;
}

.loading-content {
  text-align: center;
}

.loading-gif {
  width: 100px;
  height: 100px;
  border-radius: 2%;
}

.loading-text {
  margin-top: 15px;
  font-size: 1rem;
  color: white;
}

/* Estilos para el mensaje de error */
.error-message {
  display: none;
  background-color: var(--alert-color);
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin: 15px 0;
  font-size: 0.9rem;
}